* {
    margin: 0;
    padding: 0;
}

:root {
    --x: 0;
    ---y: 0;
    --xp: 0;
    --yp: 0;
    --hue: calc(0 + (var(--xp) * 500));
    --bg: hsl(0 0% 10%);
    --size: 100px;
    --glow: radial-gradient(50% 50% at center,
            hsl(var(--hue) 80% 85%),
            hsl(var(--hue) 80% 70%),
            transparent) calc((var(--x) * 1px) - (var(--size) * 0.5)) calc((var(--y) * 1px) - (var(--size) * 0.5)) / var(--size) var(--size) no-repeat fixed;

}

body {
    background-color: #000;
    box-sizing: border-box;
}

#vid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 12%;
}



.content {
    position: fixed;
    bottom: 40%;
    font-optical-sizing: auto;
    background: #0c0c0c;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    max-width: 70vw;
    left: 15%;
    font-size: 30px;
    font-weight: bolder;
    font-family: "Ubuntu Sans Mono", monospace;
}

.mar {
    font-size: 25px;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.mail {
    position: absolute;
    top: 20%;
    left: 60%;
}

.mail input {
    padding: 11px;
    width: 18vw;
    background: #1a1919;
}

.btn {
    cursor: pointer;
    position: absolute;
    top: 63%;
    left: 45%;
    font-family: "SF Pro Tetx";

}

button {
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1ch;
    border: 4px solid transparent;
    box-shadow: 0 1px hsl(0 0% 100% / 0.1s) inset;
    cursor: pointer;
    background: linear-gradient(var(--bg), var(--bg)) padding-box, var(--glow), linear-gradient(black, black) border-box;
    transition: back-size 0.24s;
    touch-action: none;
    position: relative;
    padding: 1rem 2rem;

}

button::before {
    content: "";
    position: relative;
    inset: 0;
    box-shadow: 0 1px hsl(0 0% 100% / 0.15) inset;
    background: var(--bg);
    z-index: 2;
    border-radius: 1rem;
}

button span {
    background: var(--glow), black;
    background-clip: text;
    color: transparent;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    z-index: 0;

}

:root:has(button:active) {
    --size: 300px;

}

button::after {
    content: "";
    position: absolute;
    inset: -4px;
    filter: blur(20px);
    border: 4px solid transparent;
    background: var(--glow);
    border-radius: 1rem;
}


.p-page {
    position: absolute;
    top: 20%;
    right: 13%;
    border: 3px solid;
    padding: 8px;
    background: #0f0e0e;
    text-decoration: none;
    color: whitesmoke;
    font-family: math;
}